.about_page {
    margin: 10px 0 0 0;
    padding: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 20px;
    width: 1100px;
    height: auto;
    box-shadow: 0px 0px 20px -15px inset;
}

.img-about {
    margin: 10px 0 0 0;
    width: 1100px;
    height: auto;
    padding: 0;
}

.about_heading {
    font-size: 25px;
    font-weight: 900;
}

.about_p {
    text-align: justify;
}

.about_p2 {
    text-align: justify;
    margin: -20px 0 0 0;
}
