{% load static %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" type='text/css' href="{% static 'main/css/main.css' %}">
</head>
<body>
    <div>
        <div class="hd" id="logo">Логотип</div>
        <div class='hd' id="brand_name">
            ООО "Слаботочник"</div>
        <div class="hd" id="contact">
            8(999)999-99-99<br>
            info@abrakadabra.ru<br>
            c 9:00 до 18:00
        </div>
        <ul class="list">
            <li>Контакты</li>
            <li>Объекты</li>
            <li>Главная страница</li>
        </ul>
    </div>
    <div class="body">
        <div class="block1">
            Картинка
        </div>
    </div>
    <footer>
        Футор
    </footer>
</body>
</html>