{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type='text/css' href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'main/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'main/img/logo3.jpg' %}">
</head>
<body>
{% block mainmenu %}
    <header><center>
        <div class="header"><center>
            <a href="{% url 'home' %}"><img class='logo' src="{% static 'main/img/logo3.jpg' %}"></a>
            <div class="brandname">
                <p>Слаботочные системы</p>
                <lu class="button">
                    <li><a href="{% url 'about' %}">О нас</a></li>
                    <li><a href="{% url 'object' %}">Обекты</a></li>
                    <li><a href="{% url 'price' %}">Цены</a></li>
                    <li><a href="{% url 'client' %}">Клиенты</a></li>
                    <li><a href="{% url 'contact' %}">Контакты</a></li>
                </lu>
            </div>
            <div class="contacts">
                <lu id="contacts">
                    <li>8-888-888-88-88</li>
                    <li>info@abrakadabra.ru</li>
                    <li>с 9:00 по 18:00</li>
                </lu>
            </div>
       </div>
    </center></header>
{% endblock mainmenu %}

{% block content %}
{% endblock %}
</body>
</html>